############################################################
# Operating System
############################################################
.DS_Store



############################################################
# IDE
############################################################
.idea/



############################################################
# Package managers
############################################################
npm-debug.log
node_modules/
bower_components/



############################################################
# Temporary generated folders (e.g. code analysys)
############################################################
/build/
.tmp/
/report/


